/**
 * VitePress 默认主题全局组件样式
 * 包含导航栏、侧边栏、按钮等全局组件的样式修改
 */

// 侧边栏样式
.VPSidebar {
  &:not(.open) {
    padding-top: calc(var(--top-bar-height) + var(--nav-height)) !important;
    background-color: transparent !important;
  }
}

// 导航栏样式
.VPNav {
  background-color: var(--vp-nav-bg-color);

  .VPNavBar {
    .container {
      margin: 0 auto;
      padding: 0 var(--content-padding);

      .title {
        padding-right: 12px;
        height: calc(var(--vp-nav-height) + 1px);
      }
    }

    .content {
      justify-content: flex-start;
      display: flex;
      align-items: center;
    }

    .content-body {
      display: flex;
      align-items: center;
      width: 100%;
    }

    &:not(.has-sidebar):not(.home.top) {
      background-color: var(--vp-nav-bg-color);
    }

    // Logo 和标题样式
    .logo {
      box-shadow: none;
    }

    .title {
      span {
        display: none;
      }
    }
  }
}

// 导航栏菜单样式
.VPNavBarMenu {
  &.menu {
    order: 1;
    flex: 1;

    > a,
    > div {
      margin-right: 20px;
    }

    > a.active {
      span {
        position: relative;
        line-height: 40px;

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: -6px;
          right: -6px;
          height: 3px;
          background-color: var(--vp-c-brand-1);
        }
      }
    }
  }

  // 多列下拉菜单样式
  .VPMenu {
    .VPMenuItems {
      display: flex;
      flex-wrap: wrap;
      max-width: 800px;

      .VPMenuGroup,
      .VPMenuLink {
        flex: 1 0 200px;
        padding: 0.5rem 1rem;
        min-width: 200px;
      }
    }
  }
}

.VPNavBarMenuLink {
  padding: 0 12px;
  font-size: 15px;
}

// 搜索框样式
.VPNavBarSearch {
  order: 2;
  margin-left: 20px;
  flex: 0 0 auto;
  width: auto;

  .DocSearch-Button {
    width: auto;
  }
}

// 其他导航栏元素
.VPNavBarAppearance {
  order: 3;
}

.VPNavBarSocialLinks {
  order: 4;
}

.VPNavBarExtra {
  order: 4;
}

.VPNavScreen {
  top: 104px !important;
}

// 按钮样式
.VPButton {
  position: relative;
  overflow: hidden;
  display: inline-block;
  border: 1px solid transparent;
  text-align: center;
  font-weight: 600;
  white-space: nowrap;
  text-decoration: initial !important;
  transition:
    color 0.25s,
    border-color 0.25s,
    background-color 0.25s;
  background-color: var(--vp-c-white);
  color: var(--vp-c-brand-1);

  &.medium {
    border-radius: 4px !important;
    padding: 0 16px;
    line-height: 38px;
    font-size: 14px;
  }

  &.brand {
    border-color: var(--vp-button-brand-border);
    color: var(--vp-button-brand-text);
    background-color: var(--vp-button-brand-bg);
    &:hover {
      color: var(--vp-c-white);
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--vp-c-white);
    opacity: 0.1;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }

  &:hover {
    &::after {
      transform: translateX(0);
    }
  }
}

// 暗色主题样式
.dark {
  .VPNavBar {
    .logo {
      filter: brightness(0) invert(1);
    }
  }

  .VPNavBarMenuLink:hover,
  .VPNavBarMenu.menu .active {
    color: var(--vp-c-text-2);
  }

  .VPNavBarMenu.menu .active span::after {
    background-color: var(--vp-c-text-2);
  }
}

// 响应式适配
@media (min-width: 960px) {
  .VPLocalNav {
    top: calc(var(--vp-nav-height) + 36px) !important;
  }
}

@media (min-width: 768px) {
  .VPNavBarMenu {
    .VPNavBarMenuGroup:nth-last-child(6) {
      display: none !important;
    }
  }
}

@media (max-width: 768px) {
  .VPNav {
    .VPNavBar {
      .container {
        padding: 0;
      }
    }
  }

  .VPNavBarSearch {
    margin-left: 0;
  }

  .custom-layout {
    .VPNav {
      top: 0;
    }

    .VPContent {
      padding-top: 0;
    }
  }
}

// =============================
// 详情页样(宽度占满) 容器宽度样式
// =============================

@media (min-width: 480px) {
  .content-page-auto-width {
    max-width: 480px;
  }
}

@media (min-width: 640px) {
  .content-page-auto-width {
    max-width: 640px;
  }
}

@media (min-width: 960px) {
  .content-page-auto-width {
    max-width: 961px;
  }
}

@media (min-width: 768px) {
  .content-page-auto-width {
    max-width: 700px;
  }
}

@media (min-width: 1280px) {
  .content-page-auto-width {
    max-width: 920px;
  }
}
