body{background: url('/skin/img/bg1.jpg') no-repeat;background-color: #bfe4ec;font-size:14px;}
body,input,ul,li,dl,dd,h1,h2,h3,p{margin:0;padding:0;}
ul,li{list-style:none;}
a{text-decoration: none;color: #333;}
.w75{width:980px;margin:0 auto;}
@font-face {font-family: 'wbficonregular';src:url("/skin/wbficon.woff")  format('woff');font-weight: normal;    font-style: normal;}

/*PUBLIC*/
.pt{background:white;line-height: 28px;margin-bottom: 20px;}
.pt a:nth-child(1){margin-left: 15px;}
em,i{font-style: normal;}

/*TOP NAV*/
.top{width: 100%;height: 48px;border-top: 2px solid #fa7d3c;box-shadow: 0 0 1px 0px rgba(0,0,0,0.15);background: #fff;border-bottom: #bceeca;margin-bottom: 15px;}
.search{width:35%;float: left;background-color: #f2f2f5;border: 1px solid #ccc;margin-top:10px;}
.search input{border:none;display: block;float: left;background-color: #f2f2f5;margin:6px 2%;}
.search input:focus{outline: none;}
.search .inputText{width: 82%;font-size: 12px;}
.search .inputSub{  float: right;width:8%;margin-right: 2%;font-family: "wbficonregular" !important;-webkit-font-smoothing: antialiased;font-size: 18px;margin: 3px 0;color: #696e78;}
.search .inputSub:hover{color: #fa7d3c;}
.logo{height: 48px;width: 80px;float: left;margin: 0 5% 0 8%;}
.logo a{display: block;height: 48px;background: url('/skin/img/bk1.png')no-repeat 0 8px;}
.right{float: right;margin-right: 10%;width: 26%;}
.loginre{margin: 17px 0 10px 0;float: right;width: 30%;}
.loginre ul{}
.loginre ul li{float:left;margin: 0 6%;}
.fenge{border-color: #d9d9d9;height: 14px;border-right: 1px solid #d9d9d9;}



/*bloghead*/
.headimg{height:245px;background: url('/skin/img/h1.jpg') no-repeat center;background-color: black;}
.bigimg{width:100px;margin: 0 auto;}
.bigimg img{border-radius: 50%;margin-top:45%;box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);}
.headimg span{text-align: center;display: block;color: white;font-size: 22px;margin: 12px;text-shadow: 0 1px 1px rgba(0,0,0,0.15);}
.head{background-color: rgba(255,255,255,0.9);box-shadow: 0 1px 1px rgba(0,0,0,0.15);}

/*NAV*/
.csp-top-nav{display:table;text-align: center;}
.nav{display: table-row;}
.nav li{display: table-cell;}
.lvl1 a{display: block;background: white;padding: 13px 0;}
.lvl1 a:hover{background: rgb(245,245,245);}
.nav > li > div{width: 75%;margin-left: 12.5%;left: 0px;background-color: #f5f5f5;color: #FFF;padding: 20px 0 10px 0;position: absolute;border-bottom: 4px solid #FFF;z-index: 1000;}
.nav > li > div .nav-close {padding: 0;background: none;border: none;position: absolute;right: 3px;top: 3px;z-index: 5;color: #333;cursor: pointer;letter-spacing: 0.4em;}
.nav ul ul li a {color: #FFF;padding: inherit;background: none;border: none;font-size: 12px;}
.nav > li > div > ul > li h3, .nav > li > div > ul > li a {color: #333;text-align: left;line-height: 22px;font-weight: 100;font-size: 13px;}
.nav > li > div > ul > li h3{color: #aaa;font-size: 14px;margin: 6px 0;}
.lvl1 ul ul li {padding: 0 4px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;border: none;float: left;clear: both;width: 100%;}
.nav ul li {padding: 0 2%;border-right: 1px solid #dcdcdc;display: block;float: left;width: 21%;}
.csp-top-nav .lvl1 > a.active {background: #F5F5F5;border-color: #033276;color: #555;}
.nav ul ul a:hover{background: none;text-decoration: underline;}

/*index*/
.i-main{margin-top: 15px;margin-bottom: 50px;display: table;}
.imright{width:66%;float: right;}
.imleft{width:34%;background-color: white;float: left;}
.imright ul{width:96%;float: right;}
.imright ul li{clear:both;}
.imright ul li:first-child .line{border-radius:3px 3px 0 0;}
.imright ul li:last-child .line{border-radius:0 0 3px 3px;}
.line{width:5px;float: left;height:500px;position: absolute;background: #aaa;}
.line span{font-family: "wbficonregular" !important;font-size: 19px;color: #aaa;text-shadow: 2px 0px 0px #fff, -2px 0px 0px #fff, 0px 2px 0px #fff, 0px -2px 0px #fff;margin-left:-7px;line-height:2.5em;}
.imrc{float:right;width: 95%;background-color: white;  border-radius:2px;box-shadow: 0 1px 2px rgba(0,0,0,.3);transition: box-shadow .5s;  margin: 0 0 12px 6px;}
.imrc em{font-family: "wbficonregular" !important;font-style: inherit;margin-left: -15px;font-size: 25px;color: white;margin-right: 8px;}
.imrc span{color: #ababab;line-height: 45px;}
.imrc a h3{margin: 0 18px 8px 18px;color: #888;font-weight: 100;}
.imrc p{margin:0 18px;color: #555;line-height: 18px;font-size: 13px;text-align: justify;padding-bottom: 10px;}
.imrc ul{padding-bottom: 15px;float: left;margin: 0 18px;}
.imrc ul li{float:left !important;clear: inherit !important;margin-right: 6px;}
.imrc ul li img{height: 120px;}
.imleft div{border-radius: 2px;box-shadow: 0 1px 2px rgba(0,0,0,.3);}
.imleft h3{font-size: 14px;font-weight: bold;padding: 0 16px;line-height: 38px;border-bottom: 1px solid #f2f2f5;}
.imleft ul{padding: 10px 0;}
.imleft ul li{height: 27px;line-height: 28px;overflow: hidden;padding: 0 0px 0 5%;color: #626262;font-size: 13px;border-bottom: 1px solid rgb(254,254,254);}
.imleft ul li a{color: #4D4D4D;text-decoration: none;}
.imleft ul li a:hover{color: #FE9633;text-decoration: underline;}
.imleft ul li i{float: left;display: block;width: 26px;}
.imleft ul li:first-child i,.imleft ul li:nth-child(2) i,.imleft ul li:nth-child(3) i{color: #f60;}
.imleft ul li span{float: right;color: #D8CFCF;font-size: 12px;-webkit-font-smoothing: antialiased;padding-right: 5%;}


/*footer*/
.footer{clear: both;height: 110px;background-color:#84a2a7;width: 100%;padding-top:1px;line-height: 35px;text-align: center;}

/*video*/
.video-con{background-color:white;padding-bottom: 10px;}
.video-con table strong{color:#333;}
.titlepic span{position:absolute;color: white;margin-left: -40px;font-size: 16px;font-style: inherit;font-weight: 900;-webkit-font-smoothing: auto;background: url(/skin/img/score_bg.png) no-repeat;width: 40px;height: 40px;padding-left: 7px;}
.video-con span i{font-style: inherit;font-size: 12px;}
.video-title,.video-con-padding{margin:0 auto;width:97%;line-height: 20px;color: #444;}
.video-con-padding{font-size: 12px;}
.video-title td{vertical-align: top;}
.video-title td:nth-child(1){padding-right: 15px;}
.video-title .image img{display: block;}
.video-title h1{line-height: 32px;color:#494949;height: 60px;font-family: Helvetica;}
.video-title p{text-indent:2em;color: #555;margin-top: 8px;}
.video-review{background-color: white;margin-bottom: 80px;}
.video-review-con{width:97%;margin: 0 auto;display:table;padding-top: 20px;}
.video-review .left{float:left;width: 66%;}
.video-review .title{border-top: 1px solid #EAEAEA;line-height: 30px;}
.video-review textarea{height: 54px;padding: 10px;color: #999;width: 96.5%;border: 1px solid #ccc;}
.ds-post-options{height: 30px;background: rgb(251,251,251);border: 1px solid rgb(204,204,204);margin-top: -5px;border-top: none;line-height: 250%;padding-left: 10px;}
.ds-replybox button{background: none repeat scroll 0% 0% #919191 !important;border: none !important;color: #fff !important;height: 32px;width: 100px;font-size: 14px;float: right;margin-top: -1px;}
.ds-post-options {height: 30px;background: rgb(251, 251, 251);border: 1px solid rgb(204, 204, 204);margin-top: -5px;border-top: none;line-height: 250%;padding-left: 10px;}
.ds-post-options img {margin-top: -2px;}
.ds-comment-header a {color: #777;font-weight: bold;font-size: 13px;}
.ds-comment-header em {float: right;color: #aaa;font-style: inherit;font-size:13px;-webkit-font-smoothing: antialiased;}
.ds-comment-body {margin-left: 70px;}
.ds-comment-body p {font-size: 13px;margin: .5em 0;}
.ds-comment-bottom{font-size: 13px;-webkit-font-smoothing: antialiased;}
.ds-comment-bottom span {margin-right: 8px;color: #999;-webkit-font-smoothing: antialiased;font-size: 13px;vertical-align: middle;}
.ds-comment-bottom a {color: #777;font-weight: bold;-webkit-font-smoothing: antialiased;font-size: 13px;}
.ds-comment-bottom i {color: #777;font-style: inherit;vertical-align: middle;}
.ds-comments {width: 94%;}
.ds-comments li {border-top: 1px dotted #ddd;padding: 20px 10px;}
.ds-comments li:nth-child(2n+2) {background: #FDFDFD;}
.ds-avatar {float: left;}
.ds-avatar img {border-radius: 100px;border: solid 1px #d8d8d8;}
.ds-plnum li {height: 25px;margin-top: 25px;}
.ds-plnum a {border-bottom: 2px solid #666 !important;font-size: 13px;color: #777;font-weight: bold;padding: 6px 5px;}
.pl h2{font-size:16px;margin: 5px;}
.player{height:20px;overflow: hidden;}

/*jz list*/
.jz-main{width: 980px;margin: 0 auto;}
.jz-list-tb{background-color:white;width: 980px;margin: 0 auto;  border: 1px solid #e0e0e0;text-align:center;line-height: 200%;border-collapse: collapse;color:rgb(10, 10, 242);font-size: 12px;margin-bottom: 20px;}
.jz-list-tb .title{color:black;font-size: 13px;}
.jz-list-tb td{border-right:1px solid #FCFCFC;}
.jz-list-tb tr:first-child{}
.jz-list-tb tr:nth-child(2){}
.jz-list-tb tr td:first-child{}
.jz-list-tb tr td:last-child{}
.jz-list-tb tr:nth-child(odd) {background: rgb(252,252,252);}
.jz-list-tb img{height:30px;margin: 0 5px;border: 1px solid #F0EDED;padding: 1px;vertical-align:top;}
.jz-list-tb .date{background-color: red;color: white;font-size: 16px;}
.jz-list-tb .coname{width: 42%;}
.jz-list-tb .itemout0{border-top:1px solid #1C98E7;}
.iteminw{  text-align: right;font-size: 13px;}
.iteminsum{font-size: 13px;}
.itemoutw{  text-align: right;font-size: 13px;}
.itemoutsum{font-size: 13px;}
.lastrow{background-color: #1c98E7 !important;color: white;border-bottom: 1px solid #3AB2FF;}
.lastrow td{border-color: #3AB2FF;}
.ctt1in,.ctt2in{position: absolute;z-index: 100;background: white;padding: 5px 1px;border-radius: 2px;display: none;box-shadow: 5px 6px 18px #aaa;margin: 5px 50px;}
.ivc1in,.ivc2in{position: absolute;z-index: 100;background: white;padding: 5px 1px;border-radius: 2px;display: none;box-shadow: 5px 6px 18px #aaa;margin: 5px 50px;}
.ivc2in img,.ctt2in img,.ivc1in img,.ctt1in img{width:100%;height:100%;margin: 0;border: none;padding: 0;}
.jz-main span{color:#fff;font-size:22px;font-weight: bolder;vertical-align: middle;margin-right:20px;text-shadow: 1px 1px 1px #5E5E5E;}
.username-jzl{  background-color: rgb(239, 239, 239);border-right: rgb(239, 239, 239) !important;}
.addjz{width:980px;margin: 0 auto;}
.addjz input{background-color: rgba(0,0,0,0.03);border: none;text-align: center;height: 100%;}
.addjz .date input{color: white;font-size: 16px;}
.addjz .lastrow td:first-child input{background-color: rgba(255, 255, 255, 0.29);}
.addjz .lastrow td:last-child input{color: white;width: 100%;background-color: rgb(31, 130, 194);}