/*公共样式 Style

TD,div {font-family: "宋体";	font-size: 12px; color: #333333; line-height:20px;}
INPUT,TEXTAREA {BORDER-WIDTH:1px; BORDER-COLOR:cccccc;background:ffffff;}
*/
#Main_Body {
   width:100%; color:#333333; text-align:left; font-size:12px;
}

#Main_Body A {
   color:#333333; text-decoration:none;
}

#Main_Body A:hover {
   color:red; text-decoration:none;
}

#Main_Page {
   width:100%; height:30px; text-align:right; padding-top:10px;
}

#ErrorMessge {
   width:45%; height:120px; border:1px #cccccc solid; background:#f4f4f4; padding-top:10%;
}

#Content_Top {
   width:100%; height:50px; border:1px #cccccc solid; padding:3px;
}

#Content_Title_Left {
   float:left; width:80%; font-weight:bold; text-align:left; font-size:20px;
}

#Content_Title_Right {
   float:left; width:20%; text-align:right;
}

#Content_UpdateTime {
  float:left; width:60%; padding-top:3px;padding-left:5px;
}
#Content_ClickNo {
  float:left; width:40%; padding-top:3px; text-align:right;padding-right:5px;
}

#Content {
   width:100%; margin-top:15px; line-height:25px;
}

Input {
   border:1px #cccccc solid; background:none; cursor:hand;
}


/*新闻样式 Style
*/

#Main_News_List {
   width:100%; height:25px; border-bottom:1px #cccccc dashed;
}


#Main_News_List A:Visite {
   color:#83006f; text-decoration:none;
}

#List_Dot {
   float:left; width:3%; text-align:center; padding-top:3px; padding-left:10px;
}

#List_Title {
   float:left; width:90%; padding-top:5px;
}


/*错误提示 Style
*/

.showmsg {
	BACKGROUND-COLOR:#cccccc; WIDTH:400px; HEIGHT:182px; BORDER:0px; FONT-SIZE:12px; FONT-FAMILY:"Arial","宋体";
}

.showmsg TH {
	BACKGROUND:URL(lvbg.gif); PADDING-TOP:6px; HEIGHT:25px;
}

.showmsg TD {
	BACKGROUND-COLOR:white; PADDING-TOP:10px; PADDING-LEFT:5px; PADDING-RIGHT:5px; PADDING-BOTTOM:10px; FONT-SIZE:12px; FONT-FAMILY:"宋体";
}

.showmsg A {
	COLOR:black; TEXT-DECORATION:none;
}

.showmsg A:hover {
	COLOR:black; TEXT-DECORATION:none;
}

.showmsg UL {
	MARGIN-TOP:0.7em; MARGIN-BOTTOM:2em; LIST-STYLE-TYPE:upper-alpha; LINE-HEIGHT:180%;
}
.bt {
	FONT-SIZE: 12px;
	FONT-FAMILY: "Arial","宋体";
	COLOR: #ffffff;
	BORDER: NONE;
	BACKGROUND-Color:#3A391B;
	HEIGHT: 20px;
	WIDTH: 60px;
	PADDING-TOP: 3px;
	CURSOR:hand;
}

.picborder a {border-width:0px;width:70px;}
.picborder a:hover {COLOR:#000000;background-Color:#F5F5F5;border:1px #808080 dotted;}

.leftmenuA{width:100%; color:#333333; text-align:left; font-size:12px;height:25px;padding-top:5px;padding-left:20px;background:url(dt.gif) no-repeat;}
.leftmenuB{width:100%; color:#333333; text-align:left; font-size:12px;height:25px;padding-top:5px;padding-left:34px;background:url(dt1.gif) no-repeat;}

.leftmenu1{width:100%; color:#333333; text-align:center; font-size:12px;height:25px;padding-top:26px;height:68px;padding-left:95px;background:url(menu1_bg.jpg) no-repeat;}
.leftmenu2{width:100%; color:#333333; text-align:center; font-size:12px;height:25px;padding-top:26px;height:68px;padding-left:95px;background:url(menu2_bg.jpg) no-repeat;}
.leftmenu3{width:100%; color:#333333; text-align:center; font-size:12px;height:25px;padding-top:26px;height:68px;padding-left:95px;background:url(menu3_bg.jpg) no-repeat;}
.leftmenu4{width:100%; color:#333333; text-align:center; font-size:12px;height:25px;padding-top:26px;height:68px;padding-left:95px;background:url(menu4_bg.jpg) no-repeat;}
.leftmenu5{width:100%; color:#333333; text-align:center; font-size:12px;height:25px;padding-top:26px;height:68px;padding-left:95px;background:url(menu5_bg.jpg) no-repeat;}
.leftmenu6{width:100%; color:#333333; text-align:center; font-size:12px;height:25px;padding-top:26px;height:68px;padding-left:95px;background:url(menu6_bg.jpg) no-repeat;}
.leftmenu7{width:100%; color:#333333; text-align:center; font-size:12px;height:25px;padding-top:26px;height:68px;padding-left:95px;background:url(menu7_bg.jpg) no-repeat;}
.leftmenu8{width:100%; color:#333333; text-align:center; font-size:12px;height:25px;padding-top:26px;height:68px;padding-left:95px;background:url(menu8_bg.jpg) no-repeat;}

#Title1 td{font-weight:bold; color:089A1D;}

#PowerTable {
	WIDTH:100%; BACKGROUND-COLOR:#000000; FONT-SIZE:9pt; FONT-FAMILY:"Arial","宋体"; CURSOR:hand;
}

#PowerTable TR {
	HEIGHT:22px; BACKGROUND-COLOR:#FFFFFF;
}


